
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,500;1,400&display=swap');
.home-h1
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 5rem;
    text-align: left;
    margin-top: 25px;
}

h3,
h6
{
    font-family: 'Bodoni Moda', serif;
    font-size: 2rem;
    font-weight: bold;
}
html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #c5cece 47%, #ebeae8 47%);
}

h1,
h2,
label,
p,
.nav-link
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
}
hr
{
    display: block;
    overflow: hidden;

    margin: .5em .5em auto auto;

    border-width: 5px;
    border-style: inset;
}
.col-7
{
    display: block;

    width: 50%;
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
}

.col-5
{
    display: block;

    width: 50%;
    margin-right: auto;
    margin-left: auto;
}

.home-btn{
    background-color: #65748e;
    font-family: 'Times New Roman', Times, serif;
}

.navbar-brand
{
    font-family: 'Bodoni Moda', serif;
    font-size: 28px;
    padding-left: 15px;
    letter-spacing: 5px;
}

.navbar a:hover
{
    color: black;
    background-color: #ddd;
}
footer a:hover
{
    color: black;
    background-color: #ddd;
}

#showcase
{
    margin-top: 5%;
    margin-bottom: 15%;
}

.image
{
    display: inline-block;

    width: 32%;
    min-width: 100px;
    min-height: 200px;
    margin: 0 auto;

    vertical-align: middle;
}
.details
{
    display: inline-block;

    width: 60%;
    margin: -1% auto;
    padding: 2%;

    vertical-align: middle;
}

.description,
.price
{
    margin-top: 0;
    margin-bottom: 16px;
}

.description
{
    font-size: 18px;

    overflow: auto;

    height: 100%;
}

.price
{
    font-size: 16px;
    font-weight: bold;

    margin: 0;
}

footer
{
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  margin-top: auto;
  /* height: 2.5rem;            */
   /* Footer height */
}

.signinup
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
}

.c-header
{
    padding-right: 16px;
    padding-left: 16px;
}

.container
{
    width: auto;
    /* width: 100%; */
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    box-shadow: rgba(0, 0, 0, .3) 0 19px 38px, rgba(0, 0, 0, .22) 0 15px 12px;
    padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.product-container{
    max-width:1120px;
    width: 100%;
    margin: 0;
    margin-right: auto;
    margin-left: auto;

    box-shadow: rgba(0, 0, 0, .3) 0 19px 38px, rgba(0, 0, 0, .22) 0 15px 12px;
    padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*Carousel good*/
.d-block
{
    display: flex;

    width: 101%;
    height: 100%;
}
.carousel
{
    box-shadow: rgba(0, 0, 0, .3) 0 19px 38px, rgba(0, 0, 0, .22) 0 15px 12px;
}

#carouselExampleControls img
{
    position: relative;

    min-width: 490px;
    min-width: 470px;
    height: 500px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
}



.project-description
{
    padding-bottom: 1px;
    font-size: 16px;
    font-weight: bold;
}
.pprofile
{
    width: -moz-fit-content;
    width:fit-content;
    margin-bottom: 1em;
    /* background-color: #8ca0ff; */
    padding: 5px;
}
.pprofile:hover
{
    z-index: -2;

    transition: all .2s ease-in-out;

    color: rgba(41, 9, 9, .75);
    border-radius: 6px;
    background-color: rgba(255, 255, 255, .4);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 5px 0 rgba(0, 0, 0, .19);
}

.profiles
{
    /* z-index: -3; */

    margin: 1% 1% 1% 1%;
}

.profile-description
{
    /* border: thin solid rgba(211, 211, 211,1); */
    z-index: 0;

    width: fit-content;
    padding-right: 15px;
    padding-left: 0px;
    text-align:left;
    block-size: fit-content;
    
}
.profile-description:hover
{
    transition: all .2s ease-in-out;

    color: rgba(0, 0, 0, 0.9);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 5px 0 rgba(0, 0, 0, .19);
            z-index: 2;
            /* transform: scale(1.1); */
          }

.profile-description-left
{
    text-align: right;
}

.profile-picture
{
    width: 250px;
    height: 250px;

    color: rgba(41, 9, 9, .75);
    border-radius: 60%;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .5), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

.profile-picture:hover
{
    transition: all .2s ease-in-out;

    color: rgba(41, 9, 9, .75);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
          
          }


.profile-images
{
    text-align: right;
    transition: 2s ease;
}
.profile-images:hover
{
    transition: all .2s ease-in-out;
    background-size: contain;
    color: rgba(41, 9, 9, .75);
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
            transform: scale(0.8);
            transition: 1s ease;  
        }


.profile-row-left
{
    margin-bottom: 15%;
}

.profile-row-right
{
    margin-top: 0;
}

.task-title
{
    color: rgba(63, 62, 55, .5);
    
}


@media only screen and (max-width: 600px)
{
    .profile-description-left
    {
        text-align: left;
    }
    .profile-description
    {
        margin-top: 0;
    }
}


/* sign in FORM */
#logreg-forms
{
    width: 412px;
    margin: 10vh auto;

    transition: all .3s cubic-bezier(.25,.8,.25,1);

    background-color: #f3f3f3;
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
}
#logreg-forms form
{
    width: 100%;
    max-width: 410px;
    margin: auto;
    padding: 15px;
}
#logreg-forms .form-control
{
    font-size: 16px;

    position: relative;

    box-sizing: border-box;
    height: auto;
    padding: 10px;
}
#logreg-forms .form-control:focus
{
    z-index: 2;
}
#logreg-forms .form-signin input[type='email']
{
    margin-bottom: -1px;

    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type='password']
{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#logreg-forms .social-login
{
    width: 390px;
    margin: 0 auto;
    margin-bottom: 14px;
}
#logreg-forms .social-btn
{
    font-size: .9rem;
    font-weight: 100;

    width: 190px;

    color: white;
}

#logreg-forms a
{
    display: block;

    padding-top: 10px;

    color: lightseagreen;
}

#logreg-form .lines
{
    width: 200px;

    border: 1px solid red;
}


#logreg-forms button[type='submit']
{
    margin-top: 10px;
}

#logreg-forms .facebook-btn
{
    background-color: #3c589c;
}

#logreg-forms .google-btn
{
    background-color: #df4b3b;
}

#logreg-forms .form-reset,
#logreg-forms .form-signup
{
    display: none;
}

#logreg-forms .form-signup .social-btn
{
    width: 210px;
}

#logreg-forms .form-signup input
{
    margin-bottom: 2px;
}

.form-signup .social-login
{
    width: 210px !important;
    margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:991px)
{
    #logreg-forms
    {
        width: 300px;
    }

    #logreg-forms  .social-login
    {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    #logreg-forms  .social-btn
    {
        font-size: 1.3rem;
        font-weight: 100;

        width: 200px;
        height: 56px;

        color: white;
    }
    #logreg-forms .social-btn:nth-child(1)
    {
        margin-bottom: 5px;
    }
    #logreg-forms .social-btn span
    {
        display: none;
    }
    #logreg-forms  .facebook-btn:after
    {
        content: 'Facebook';
    }

    #logreg-forms  .google-btn:after
    {
        content: 'Google+';
    }
}

/*card in products*/

.card
{
    display: inline-block;
    display: flex;

    max-width: 360px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 10px 10px;

    transition: all .2s ease-in-out;
    text-decoration: none;

    border-color: rgba(0, 0, 0, .2);
    border-radius: 6px;

    flex-wrap: wrap;
    gap: 1rem;
}
.card:hover
{
    color: rgb(58, 11, 11);
    background-color: #f3f2a5;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
       -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
            box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}
.card-horizontal
{
    /* display: flex; */
    flex: 1 1 auto;
}

/* Contact us */
#contact-form
{
    margin-left: 25px;
}
.address
{
    margin-left: 25px;
}

/* About us background for experiment*/
.bg
{
    width: auto;
    height: 100%;

    animation: 50s para infinite linear;

    background-color: rgba(46, 87, 107, .2);
    background-image: url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
    background-repeat: repeat-x;
    background-position: 0 50%,
    0 100%,
    0 50%,
    0 70%,
    0 100%;
    background-size: 2500px,
    800px,
    500px 200px,
    1000px,
    400px 260px;
}

@keyframes para
{
    100%
    {
        background-position: -5000px 20%,
        -800px 95%,
        500px 50%,
        1000px 100%,
        400px 0;
    }
}

/*animate the index selection button*/
.selection {
    border: 1px transparent;
    -webkit-border-radius: 40px;
    border-radius: 10px;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 12px;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      -webkit-box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      -webkit-box-shadow: 0 0 3px #0091b2;
    }
  }
  @keyframes glowing {
    0% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
    50% {
      background-color: #21c7ed;
      box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #0091b2;
      box-shadow: 0 0 3px #0091b2;
    }
  }
  .svg-btn {
    display: block;
    width: 230px;
    height: 230px;
    margin-left: 10px;
  }
  svg {
    fill: blue;
    -webkit-animation: glowing-polygon 1300ms infinite;
    -moz-animation: glowing-polygon 1300ms infinite;
    -o-animation: glowing-polygon 1300ms infinite;
    animation: glowing-polygon 1300ms infinite;
  }
  @keyframes glowing-polygon {
    0% {
      fill: #0091b2;
      -webkit-filter: drop-shadow( 0 0 3px #0091b2);
    }
    50% {
      fill: #21c7ed;
      -webkit-filter: drop-shadow( 0 0 15px #21c7ed);
    }
    100% {
      fill: #0091b2;
      -webkit-filter: drop-shadow( 0 0 3px #0091b2);
    }
  }
  @keyframes glowingPolygon {
    0% {
      fill: #0091b2;
      filter: drop-shadow( 0 0 3px #0091b2);
    }
    50% {
      fill: #21c7ed;
      filter: drop-shadow( 0 0 15px #21c7ed);
    }
    100% {
      fill: #0091b2;
      filter: drop-shadow( 0 0 3px #0091b2);
    }
}

/* product progress arrow*/
.progress-wrap {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset  0 0 0 2px rgba(255,255,255,0.5);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #4f67ee;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap::before {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background: linear-gradient(60deg, red, yellow, red, yellow, red);
    /* background-image: linear-gradient(298deg, #da2c4d, #f8ab37); */
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path { 
    fill: none; 
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #ecedf3;
    stroke-width: 4;
    box-sizing:border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }